{% load i18n %}
{% load url from future %}
{% spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{% block title %}TrainingApp{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}all_min.css"/>

        {% endblock css %}
        {% block js %}
            <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="{{ STATIC_URL }}all_min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}general.js" type="text/javascript"></script>
        {% endblock js %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('.errorlist').addClass('help-inline');
            })
        </script>
    </head>
    <body>
    {% block navbar %}
        <div class="topbar">
            <div class="fill">
                <div class="container canvas">
                    <a class="brand" href="{% url 'pageHome' %}">TrainingApp</a>
                    <ul class="nav">
                        {% if user.id %}
                            {% if request.session.author.is_verified %}
                                <li id="pagePostAdd"><a href="{% url 'pagePostAdd' %}">{% trans "Add Post" %}</a></li>
                            {% endif %}
                        {% else %}
                            <li id="pageSignUp"><a href="{% url 'pageSignUp' %}">{% trans "Sign Up" %}</a></li>
                        {% endif %}
                    </ul>
                    {% if user.id %}
                        <form action="{% url 'pageSignUp' %}" method="post" accept-charset="utf-8"
                              class="pull-right">
                            <a href="{% url 'pageProfile' slug=request.session.author.slug %}" class="ui-button-icon-primary">Profile
                                <img
                                        src="{{ MEDIA_URL }}{{ request.session.author.avatar }}"
                                        style="height:20px;padding-right: 10px;vertical-align: middle;"></a>
                            {% csrf_token %}

                            <button class="btn" type="submit"
                                    onclick="javascript:window.location.href='{% url 'pageSettings' %}'; return false;">
                                {% trans 'Settings' %}
                            </button>
                            <button class="btn" type="submit"
                                    onclick="javascript:window.location.href='{% url "pageSignOut" %}'; return false;">
                                {% trans "Sign Out" %}
                            </button>
                        </form>
                    {% else %}
                        <form action="{% url 'pageSignIn' %}" method="post" accept-charset="utf-8"
                              class="pull-right"><input class="input-small" name="login-email" type="text"
                                                        placeholder="{% trans "Email" %}">
                            {% csrf_token %}
                            <input class="input-small" name="login-password" type="password"
                                   placeholder="{% trans "Password" %}">
                            <button class="btn" type="submit">{% trans "Sign In" %}</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock navbar %}


    {% block container %}
        <div class="container canvas">

            <div class="content">
                <div class="row">
                    <div class="span12">

                        {% if messages %}

                            {% for message in messages %}
                                <div class="alert-message block-message
                                        {% if message.tags %}{{ message.tags }}{% endif %}">
                                    <a class="close" data-dismiss="alert">×</a>
                                    {% if message.tags %}<strong>{{ message.tags|capfirst }}!
                                        </strong> {% endif %}{{ message }}
                                </div>
                            {% endfor %}

                        {% endif %}

                    </div>
                </div>

                <div class="row">
                    <div class="span9">
                        {% block page %}
                            page
                        {% endblock page %}
                    </div>
                    <div class="span3">
                        {% block menu %}
                            {% if contpro_categories|length > 0 %}
                                <div><h6>Categories</h6></div>{% endif %}

                            {% if contpro_categories|length > 0 %}
                                <ul class="unstyled">
                                    {% for categories in contpro_categories %}
                                        <li><a href="{% url 'pageCategory' categories.slug %}">{{ categories.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        {% endblock menu %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock container %}
    {% block foot %}
    {% endblock foot %}
    </body>
    </html>
{% endspaceless %}