{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            $('input[name="comment-author"]').val('{{ request.user.author }}');
        });
    </script>
{% endblock js %}
{% block page %}
    <h2>{{ post.text_title }}</h2>

    <div class="pull-right"><h6>{{ post.date_pub }}</h6></div>
    <br/>

    <p>{{ post.text_body }}</p>
    <hr>
    <h6>Add Comment</h6>
    <div class="comment_form">
        <form class="comment_add" method="post" action="{% url 'pageCommentAdd' slug=post.slug %}">
            {% for field in CommentForm.hidden_fields %}
                {{ field }}
            {% endfor %}

            <table class="condensed-table zebra-striped">
                {% for field in CommentForm.visible_fields %}
                    {% if user.is_authenticated %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <div class="actions">
                {% csrf_token %}
                <input type="submit" class="primary btn" value="{% trans "Save Comment" %}">
            </div>
        </form>
    </div>
    <hr>
    <h6>Comments</h6>

{% endblock page %}